* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 15px;
}

/* MOBILE */

@media (max-width: 768px) {

  h1 {
    font-size: 28px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  p {
    font-size: 14px !important;
  }

}